.hex-cell {
  pointer-events: none;
  grid-area: 1/1;
  height: 100%;
  aspect-ratio: 1.1547;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
